.factsec {
    color: #000 !important;
    background-color: #e8e8e0;
}

.factpointcard {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    color: #000 !important;


}

.priceFactCard {
    width: calc(100% + 2px);
}

.priceFactCard p {
    white-space: nowrap;
}

@media (width < 1400px) {
    .priceFactCard {
        width: 100%;
    }
}
.factpointcard:hover {
    transform: scale(1.08);
    transition: all 0.5s ease-in-out;
}


.factpointcard p {
    font-size: 16px;
    font-weight: 500;
     margin-bottom: 0 !important;
}

.factimg {
    height: 100%;
}


.factimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

@media (width < 576px) {

    .factpointcard {
        font-size: 14px;
    }

    .priceFactCard p {
        white-space: normal;
    }

}